# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/

# Build artifacts
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

.derivedData

# Local backups
local-backups/

# Local backups
local-backups/
